<div id="messages">
<% for(var type in messages){ %>
<h2>type=<%= type%></h2>
<% messages[type].forEach(function (message) {%>
<h1>hel+<%= message %></h1>
<% }) %>
<% } %>
</div>





<div id="messages">
<% for(var type in messages){ %>
<h2>type=<%= type%></h2>
<% messages[type].forEach(function (message) {%>
<h1>hel+<%= message %></h1>
<% }) %>
<% } %>
</div>





